@{
    ViewData["Title"] = "Verde Conecta";
}

<div class="text-center">
    <h1 class="display-4 text-success">Verde Conecta</h1>
    <p class="text-success">Nutrição Vegetariana ao alcance de um toque</p>
</div>
