@model verdeconecta.Models.Usuario

@{
    ViewData["Title"] = "E-mail Enviado";
}

<h1>Verifique seu E-mail</h1>
<p>Um link para redefinir sua senha foi enviado para o endereço de e-mail informado.</p>
<a asp-action="Login" class="btn btn-primary">Voltar ao Login</a>
