<?xml version="1.0" encoding="utf-8"?>
<!--
Esse arquivo é usado pelo processo de publicação/pacote do seu projeto Web. É possível personalizar o comportamento deste processo
ao editar este arquivo MSBuild. Para saber mais sobre isso, visite https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://verdeconecta-d4bpd0bqfdashgf7.brazilsouth-01.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ProjectGuid>78ea4a8a-e722-45c8-91c8-8533d7ecc2b8</ProjectGuid>
    <PublishUrl>https://verdeconecta-d4bpd0bqfdashgf7.scm.brazilsouth-01.azurewebsites.net/</PublishUrl>
    <UserName>$verdeconecta</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>